<div class="card">
  <img
    src="https://images.unsplash.com/photo-1697468792373-ad4181550a5a?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="post-image"
    class="card-img-top"
  />

  <div class="card-body">
    <small class="bg-ligt text-danger text-center"> Design</small>
    <small class="bg-ligt text-success text-center ml-3">Featured</small>
    <small class="bg-ligt text-info text-center ml-3">View - 100,025</small>

    <h5 class="mt-1">HOW TO START THE STARTUP BY YOURSELF IN 2023</h5>
    <p>
      Cillum aute dolore pariatur occaecat laboris qui irure est pariatur
      occaecat.
    </p>
    <small class="bg-ligt text-warning text-center ml-3"
      >LAST UPDATED - SEP 20, 2023</small
    >
  </div>
</div>
